
<nav class="navbar navbar-fixed-top navbar-light bg-faded">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class='nav-link' routerLink="/home" routerLinkActive="router-link-active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/documents" routerLinkActive="router-link-active">Docs</a>
        </li>
        <li class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block dropdown-links">
            <button class="btn btn-outline-primary" id="proposalDropdown" ngbDropdownToggle>Proposals</button>
            <div ngbDropdownMenu aria-labelledby="proposalDropdown">
              <button class="dropdown-item" [routerLink]="['/proposals']" routerLinkActive="router-link-active"  [routerLinkActiveOptions]="{ exact: true}">Proposal List</button>
              <button class="dropdown-item" [routerLink]="['/proposals/new']" routerLinkActive="router-link-active" >New Proposal</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  
  <router-outlet></router-outlet>