<div class="container">
  <div class="list-group">
    <a class="list-group-item list-group-item-action active">
      <h1>Proposal List</h1>
      <span *ngFor="let prop of proposals" class="list-group-item list-group-item-action">
        <a routerLink="/proposal/{{ prop.id }}" class="proposal-list-link">
          <h5 class="list-group-item-heading">{{ prop.customer }}</h5>
          <p class="list-group-item-text">{{ prop.hourly_rates * prop.estimated_hours | currency:'CLP':'symbol' }}</p>
        </a>
      </span>
    </a>
  </div>
</div>